custom_db.json
database.json
db_timestamp.txt
base_db.json
firebase_key.json
venv
scrapper.py
custom_db2.json

client/assets/appicon.png
client/android/app/src/main/res/mipmap-*
client/ios/Runner/Assets.xcassets/AppIcon.appiconset/*.png
client/macos/Runner/Assets.xcassets/AppIcon.appiconset/*.png
client/web/favicon.png
client/web/icons/
client/windows/runner/resources/app_icon.ico